html {
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

div {
    position: relative;
}

.title {
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
}

.pic {
    display: flex;
    justify-content: center;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.border {
    display: block;
    justify-content: center;
    z-index: -1;
    position: absolute;
    margin-left: 38.8%;
    top: -9%;
    width: 22.5%;
    height: 119%;
}