html {
    background: url(https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

div {
  position: relative;
}

.border {
    top: -16%;
    width: 20%;
    margin-left: 40%;
   position: absolute;
   z-index: -1;
}

.chef {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
    
}



.odin {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', sans-serif;
    font-size: 140%;
}

.menu {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', sans-serif;
    font-size: xx-large;
    position: relative;
    top: 20px;
   
}
.chicken-tenders {
    text-align: center;
}   


.mac-cheese {
    text-align: center;
}

.stew {
    text-align: center;
}

.disclaimer {
    bottom: 0;
    position: fixed;
    text-align: end;
    color: red;
}